.modal {
  width: 300px;
  height: 300px;
  overflow-y: auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.modal-inside {
  padding: 8%;
  text-align: justify;
}
.update {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
